<header class="container">
  <nav class="row">
        <div class="logo">
          danniel.dev
        </div>
        <div class="menu">
          <ul>
            <li> <a routerLink="/" routerLinkActive="active">Inicio</a> </li>
            <!-- <li> <a routerLink="'/routePath'" routerLinkActive="active">Acerca de mi</a> </li> -->
            <li> <a routerLink="'/routePath'" routerLinkActive="active">Blog</a> </li>
            <li> <a routerLink="'/routePath'" routerLinkActive="active">Contacto</a> </li>
          </ul>
        </div>
  </nav>
</header>
