@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.active {
  color: $text-color-dark !important;
  font-family: "Gabriela", serif !important;
}


header {
	width: 100%; /* Establecemos que el header abarque el 100% del documento */
	overflow: hidden; /* Eliminamos errores de float */
	background: $base-color;
}

.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header .logo {
	color:  $text-color-light;
	font-size:50px;
	line-height:100px;
	float:left;
}

header nav {
	float:right;
	line-height:100px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:$base-color;
  color: #252932;
	border-radius:50px;
}
