.container {
  display: flex;
  height: 137px;
  width: 100%;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFF00 0% 0% no-repeat padding-box;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 137px;
  width: 1000px;
  align-items: center;
}
.menu {
  height: 56px;
  width: auto;
}
.menu li {
  display:inline-block;
  width: auto;
  margin-right: 101px;
  text-align:center;
  color:#fff;
  font-family: 'Gabriela', serif;
}
.menu li a {
  text-align: center;
  font: normal normal bold 22px/26px Helvetica;
  letter-spacing: 0px;
  color: #000;
  opacity: 1;
}
.active {
  color: #199EFF !important;
  font-family: 'Gabriela', serif !important;
}
.logo {
<<<<<<< Updated upstream
  font-size: 28px;
  font-family: 'Gabriela', serif;
  margin-left: 16px;
=======
  font-size: 15px;
  font-family: "Gabriela", serif;
  // margin-left: 16px;
>>>>>>> Stashed changes
  display: inline-block;
  color: #000;
  // background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  // -webkit-background-clip: text;
  background-clip: text;

  border: 5px solid #46eefa;
  padding: 16px 16px 16px 16px;
  border-radius: 0 50px 50px;
<<<<<<< Updated upstream
}
=======
  // border-radius: 50px;
  // background: #ffffff;
  // box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  background: #FFF;
  }
>>>>>>> Stashed changes
