<section class="projects">
  <article class="projects__card" *ngFor="let post of posts | randomlist:3">
    <a [href]="post.html_url" target="_blank" rel="noopener noreferrer">
      <h3>{{ post.name | titlecase  }}</h3>
      <p>{{ post.description }}</p>
    </a>
  </article>
  <div class="projects__link">
    <a href="https://github.com/DannielNavas" target="_blank" rel="noopener noreferrer">
      <button class="projects__link-button" >
        <fa-icon [icon]="github" size="1x"></fa-icon>
        Ver más proyectos en Github
      </button>
    </a>
  </div>
</section>
