// ================================================================= post =================================================================//

.container-post {
  padding: 24px 0 24px 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.post {
  display: flex;
  height: 56px;
  width: 100%;
  max-width: 1000px;
  flex-direction: row;
  margin: 8px 0 8px 0;
  text-decoration: none;
  background: whitesmoke;
  align-content: center;
  text-decoration: none;
  align-items: center;
}
.post:hover {
  background: #FCCF66;
  cursor: pointer;
}
a {
  display: flex;
  text-decoration: none;
}
.icons {
  width: 100px;
  height: 20px;
  text-align: center;
  font-family: 'Gabriela', serif;
  font-size: 11px;
  letter-spacing: 0px;
  color: #4A4A4A;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-post {
  width: calc(1000px - 60px);
  height: 22px;
  font-family: 'Gabriela', serif;
  font: normal normal bold 15px Helvetica;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  flex-wrap: wrap;
  display: flex;
  h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10px;
    height: auto !important;
    width: 250px;
  }
  .lenguaje {
    height: auto;
    width: 150px
  }
  .date {
    height: auto;
    width: 150px
  }
  .link {
    height: auto;
    width: 250px
  }
  a {
    color: #199EFF;
    :active {
      color: #FFF;
    }
  }
}
p {
  margin: 0;
}
