<app-loader *ngIf="loader"></app-loader>
<article class="container" *ngIf="!loader">
  <div class="row">
    <div *ngFor="let about of aboutme">
      <h1>{{ about.datos.title }}</h1>
    </div>
    <app-aboutmeprincipal [principalData]="principal"></app-aboutmeprincipal>
    <app-presentation [data]="secodary"></app-presentation>
    <app-presentation [data]="presentaciones"></app-presentation>
    <app-stack [stack]="stack"></app-stack>
    <app-playlist [playlist]="playlist"></app-playlist>
  </div>
</article>
