<nav>
  <app-header></app-header>
  <app-banner></app-banner>
</nav>
<section>
  <div class="principal__row">
    <h2>Publicaciones recientes</h2>
    <div class="principal__line"></div>
    <section class="post" *ngFor="let post of posts">
      <app-article [posts]="post"></app-article>
    </section>
    <h2>Proyectos</h2>
    <div class="principal__line"></div>
    <app-projects></app-projects>
    <h2>Videos</h2>
    <div class="principal__line"></div>
    <app-videos></app-videos>
    <h2>Estadisticas</h2>
    <div class="principal__line"></div>
    <app-stats></app-stats>
  </div>
</section>
