<nav>
  <app-header></app-header>
  <app-banner></app-banner>
</nav>
<section>
  <div class="principal__row">
    <h2>Publicaciones recientes</h2>
    <div class="principal__line"></div>
    <app-article></app-article>
    <h2>Proyectos</h2>
    <div class="principal__line"></div>
    <app-article></app-article>
    <h2>Videos</h2>
    <div class="principal__line"></div>
    <app-article></app-article>
    <h2>Estadisticas</h2>
    <div class="principal__line"></div>
    <app-stats></app-stats>
  </div>
</section>
