<section class="stats" id="stats">
  <article class="stats__card" id="post">
    <h1>{{statsData.post}}</h1>
    <p>Articulos publicados</p>
  </article>
  <article class="stats__card" id="views">
    <h1>{{statsData.views}}</h1>
    <p>Visitas a los post</p>
  </article>
  <article class="stats__card" id="reactions">
    <h1>{{statsData.reactions}}</h1>
    <p>Reacciones</p>
  </article>
  <article class="stats__card" id="public_repos">
    <h1>{{statsData.public_repos}}</h1>
    <p>Github Repos</p>
  </article>
  <article class="stats__card" id="followers">
    <h1>{{statsData.followers}}</h1>
    <p>Followers Github</p>
  </article>
  <article class="stats__card" id="public_gists">
    <h1>{{statsData.public_gists}}</h1>
    <p>Github Gists</p>
  </article>
</section>
