// ================================================================= post =================================================================//
@import '../../utils/mixins.scss';

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  article {
    display: flex;
    border: solid 1px #eaeaea;
    border-radius: 8px;
    flex-direction: column;
    max-width: 482px;
    gap: 1rem;
    margin: 8px;

    @include for-tablet-portrait-up {
      max-width: 47%;
    }

    @include for-phone-only {
      max-width: 100%;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: #000;

      img {
        border-radius: 8px;
        height: auto;
        min-width: 358px;
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;

        // @include for-phone-only {
        //   max-width: 358px;
        //   height: auto;
        // }

        // @include for-tablet-portrait-up {
        //   max-width: 746px;
        //   height: auto;
        // }
      }

      .info-post {
        margin: 0 8px 0 8px;

        span {
          font-size: 12px;
          color: #000;
          align-self: flex-end;
        }
      }
    }
  }
}
.post {
  &__link {
    height: auto;
    width: 100%;
    max-width: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-button {
      background-color:#0d1117;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 8px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      width: 300px;
      height: 46px;
      &:hover {
        background-color: #0d1117;
      }
    }
  }
}
