// ================================================================= footer =================================================================//

footer {
    padding: 1.5rem;
    bottom: 0;
    display: block;
    margin: 0;
    background-color: #282b39;
    color: #fff;
    margin-top: 2rem;
}

.footer {
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    &__details {
        width: 50%;
    }

    &__social {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
}

a {
    margin-right: 16px;
    text-decoration: none;

    .instagram {
        color: #d6249f;
    }

    .linkedin {
        color: #0e76a8;
    }

    .youtube {
        color: #c4302b;
    }
}
