// ================================================================= footer =================================================================//
footer {
  padding: 1.5rem;
  bottom: 0;
  display: block;
  margin: 0;
  background-color: #282b39;
  color: #fff;
}
.footer {
  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
 &__details {
   width:346px;
   margin-left: 16px;
 }
}
a {
  margin-right: 16px;
  // color: #FFFFFF;
  text-decoration: none;
  .instagram {
    color: #d6249f;
  }
  .linkedin {
    color: #0e76a8;
  }
  .youtube {
    color: #c4302b;
  }
}
