// ================================================================= footer =================================================================//
section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1000px;
  flex-wrap: wrap;
}
a {
  margin-left: 8px;
  color: #5D5DA8;
  text-decoration: none;
}
