// ================================================================= footer =================================================================//
section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1000px;
  flex-wrap: wrap;
}
a {
  margin-left: 16px;
  color: #5D5DA8;
  text-decoration: none;
  .instagram {
    color: #d6249f;
  }
  .linkedin {
    color: #0e76a8;
  }
  .youtube {
    color: #c4302b;
  }
}
