<footer>
  <div class="footer__container">
    <div class="footer__details">
      DannielDev Ⓒ 2021 - Todos los derechos reservados.
    </div>
    <div class="footer__social">
      <a href="https://www.instagram.com/danniel_dev/" target="_blank"
        ><fa-icon [icon]="instagram" size="2x" class="instagram"></fa-icon
      ></a>
      <a
        href="https://www.linkedin.com/in/luis-daniel-gordo-navas-28102386/"
        target="_blank"
        ><fa-icon [icon]="linkedin" size="2x" class="linkedin"></fa-icon
      ></a>
      <a
        href="https://www.youtube.com/channel/UC-WOFSnewqJ1CRjFuZYaYEQ"
        target="_blank"
        ><fa-icon [icon]="youtube" size="2x" class="youtube"></fa-icon
      ></a>
    </div>
  </div>
</footer>
