.container {
  position: relative;
  top: 400px;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}
.row {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  flex-wrap: wrap;
}
.title {
  &__post {
    top: 137px;
    left: 0px;
    width: 100%;
    height: 220px;
    background: #F1F4F8 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  &__position {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    max-width: 1000px;
    width: 100%;
    height: 220px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__principal {
    height: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    h1 {
      letter-spacing: 0px;
      margin-bottom: 0;
      font-size: 3rem;
    }
  }
  &__image {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    img {
      height: 150px;
    }
  }
}

.article {
  height: auto;
  width: 100%;
  p {
    font-size: 22px;
  }
}

footer {
  position: absolute;
  height: 46px;
  width: 99%;
  bottom: 0;
  justify-content: center;
  display: flex;
}
