<section class="imagen-user">
  <div class="imagen-user-position">
    <div class="left">
      <div class="circulo-title">
        <h1 class="soy">Hola, soy</h1>
        <h1>Daniel Navas</h1>
      </div>

      <div class="text-second">
        <h3 class="second-text">Desarrollador <b>Frontend</b>.</h3>
        <app-social-network></app-social-network>
      </div>
    </div>
    <div class="right">
      <img src="/assets/images/gordis.png" alt="danniel.dev" class="banner">
    </div>
  </div>
</section>
