<section class="banner">
  <div class="banner__row">
    <div class="banner__title">
      <h1>Hola, soy Daniel Navas</h1>
      <h2 class="banner__subtitle-text">Desarrollador Frontend.</h2>
      <a
        href="https://www.instagram.com/danniel_dev/"
        rel="noopener"
        rel="noreferrer"
        target="_blank"
      >
        <fa-icon [icon]="instagram" size="2x" class="instagram"></fa-icon>
      </a>
      <a
        href="https://www.linkedin.com/in/luis-daniel-gordo-navas-28102386/"
        target="_blank"
        rel="noopener"
        rel="noreferrer"
      >
        <fa-icon [icon]="linkedin" size="2x" class="linkedin"></fa-icon>
      </a>
      <a
        href="https://www.youtube.com/channel/UC-WOFSnewqJ1CRjFuZYaYEQ"
        target="_blank"
        rel="noopener"
        rel="noreferrer"
      >
        <fa-icon [icon]="youtube" size="2x" class="youtube"></fa-icon>
      </a>
    </div>
  </div>
</section>
