@import './../../../shared/utils/mixins.scss';
.container {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}
.row {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  // background-color: red;
  max-width: 1000px;
  flex-wrap: wrap;
  z-index: 1;
  @include for-tablet-portrait-up {
    margin: 0 16px 0 16px;
  }

}
.title {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  height: auto;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  padding: 0 8px 0 8px;
  @include for-phone-only {
    flex-direction: column;
    /* align-content: space-around; */
    /* justify-content: space-between; */
  }
  h2 {
    color: #707070;
  }
  button {
    border: 2px solid #199EFF;
    background-color: transparent;
    color: #707070;
    font-size: 18px;
    height: 39px;
    width: 150px;
    border-radius: 8.56px;
    margin-top: 8px;
    cursor: pointer;
    @include for-phone-only {
      height: 47px;
      width: 100%;
    }
  }
}
.line {
  height: 5px;
  width: 100%;
  max-width: 1000px;
  background-color: #707070;
  margin-top: 8px;
}


// ================================================================= post =================================================================//

.container-post {
  padding: 24px 0 24px 0;
}
.post {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px 0 8px 0;
  text-decoration: none;
}
.date {
  width: 110px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0px;
  color: #4A4A4A;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-post {
  width: calc(100% - 110px);
  height: 22px;
  text-align: center;
  font: normal normal bold 15px Helvetica;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
