<section class="imagen-user">
  <div class="imagen-user-position">
    <div class="left">
      <div class="circulo-title">
        <h1 class="soy">Hola, soy</h1>
        <h1>Daniel Navas</h1>
      </div>

      <div class="text-second">
        <h3 class="second-text">Ingeniero de sistemas, actualmente me desempeño como <b>Frontend Developer</b>, he trabajado en empresas de tecnología.</h3>
      </div>
    </div>
    <div class="right">
      <img src="/assets/images/banner.gif" alt="danniel.dev" class="banner">
    </div>
  </div>

</section>

<div class="container">
  <div class="row">
    <div class="title">
      <h2>Articulos</h2>
      <button>Ver todos</button>
    </div>
    <div class="line"></div>
    <!-- inicial post -->
    <div class="container-post">
      <a href="http://" class="post" *ngFor="let post of posts" >
        <div class="date">
          07 Abril 2021
        </div>
        <div class="title-post">
          <h3>Titulo de Ejemplo para los post.</h3>
        </div>
      </a>
    </div>
    <!-- final de post -->
  <!-- </div>
</div>

<div class="container">
  <div class="row"> -->
    <div class="title">
      <h2>Proyectos</h2>
      <button>Ver todos</button>
    </div>
    <div class="line"></div>
     <!-- inicial post -->
     <div class="container-post">
      <a href="http://" class="post" *ngFor="let post of posts" >
        <div class="date">
          icons
        </div>
        <div class="title-post">
          <h3>Titulo de Ejemplo para los post.</h3>
        </div>
      </a>
    </div>
    <!-- final de post -->

    <footer>
      <section>
        <fa-icon [icon]="angular" size="3x"></fa-icon>
      </section>
    </footer>
  </div>
</div>
