<section class="imagen-user">
  <div class="imagen-user-position">
    <div class="left">
      <div class="circulo-title">
        <h1 class="soy">Hola, soy</h1>
        <h1>Daniel Navas</h1>
      </div>

      <div class="text-second">
        <h3>Ingeniero de sistemas, actualmente me desempeño como <b>Frontend Developer</b>, he trabajado en empresas de tecnología.</h3>
      </div>
    </div>
    <div class="right">
      <img src="/assets/images/banner.gif" alt="danniel.dev" class="banner">
    </div>
    <!-- <h1>Soy Daniel Navas</h1>
    <h2>Soy ingenienro de sistemas</h2> -->
  </div>

</section>

<div class="container">
  <div class="row">
    <div class="title">
      <h2>Articulos</h2>
      <button>Ver todos</button>
    </div>
    <div class="line"></div>
    <!-- inicial post -->
    <div class="container-post">
      <a href="http://" class="post" *ngFor="let post of posts" >
        <div class="date">
          07 Abril 2021
        </div>
        <div class="title-post">
          <h3>Titulo de Ejemplo para los post.</h3>
        </div>
      </a>
    </div>
    <!-- final de post -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="title">
      <h2>Proyectos</h2>
      <button>Ver todos</button>
    </div>
    <div class="line"></div>
     <!-- inicial post -->
     <div class="container-post">
      <a href="http://" class="post" *ngFor="let post of posts" >
        <div class="date">
          icons
        </div>
        <div class="title-post">
          <h3>Titulo de Ejemplo para los post.</h3>
        </div>
      </a>
    </div>
    <!-- final de post -->
  </div>
</div>

<footer>
  <section>
    <a href="">Instagram</a>
    <fa-icon [icon]="angular" size="3x"></fa-icon>
    <fa-icon [icon]="['fab', 'angular']"></fa-icon>
  </section>
</footer>
