@import './../../../shared/utils/mixins.scss';
@import './../../../shared/utils/variables.scss';

.portal {
  &__container {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
  }

  &__row {
    width: 100%;
    display: flex;
    max-width: 1000px;
    flex-flow: row wrap;
    @include for-tablet-portrait-up {
      margin: 0 16px 0 16px;
    }
  }

  &__title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    padding: 0 8px 0 8px;
    h2 {
      color: $text-color;
    }
    button {
      border: none;
      background-color: $border-button;
      color: $text-color-light;
      font-size: 18px;
      height: 39px;
      width: 150px;
      border-radius: 8.56px;
      cursor: pointer;
    }
  }

  &__line {
    height: 5px;
    width: 100%;
    max-width: 1000px;
    background-color: $text-color;
    margin-top: 8px;
  }
}
