<header>
  <div class="wrapper">
    <h1 class="logo">
      <span class="text-color">Danniel</span>
      Dev
    </h1>

    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a routerLink="/blog" routerLinkActive="active">Articulos</a>
      <a routerLink="/aboutme" routerLinkActive="active">Sobre mi</a>
      <a routerLink="/aboutme" routerLinkActive="active">Portafolio</a>
      <a routerLink="/aboutme" routerLinkActive="active">Contacto</a>
    </nav>
  </div>
</header>
