@import '../../shared/utils/mixins.scss';
@import '../../shared/utils/utils.scss';

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;

    @include for-desktop-up {
        display: none;
    }
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-drawer-container {
    background-color: transparent;
}

.navigation {
    &__bar {
        background-color: transparent;
        color: $font-color-banner;
    }
}

a {
    display: inline-block;
    color: $font-color-banner;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    :hover {
        color: #FCCF66;
        border-radius: 50px;
    }
}

.wrapper {
    width: 90%;
    max-width: 1160px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.active {
    color: $font-color-banner !important;
    font-weight: bold;
    text-decoration: underline !important;
}

menu {
    margin: 0;

    @include for-phone-only {
        display: none;
    }

    @include for-tablet-portrait-up {
        display: none;
    }
}
