name: npm-lint
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Run Install
        run: npm i --force

      - name: Run NPM LINT
        run: npm run lint
